<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body> 
  <div class="container">
    <div class="fila0">
      <h1>Receta Medica</h1>
      <button>Alta</button>
    </div>
    <div class="form">
      <section class="fila1">
        <hr>
        <h4>Nombre:</h4>
        <p>{{Receta.Nombre}}</p>
        <h4>Fecha:</h4>
        <p>{{Receta.Fecha}}</p>
        <h4>Medicamentos:</h4>
        <p>{{Receta.Medicamentos}}</p>
        <h4>Indicaciones:</h4>
        <p>{{Receta.Indicaciones_adicionales}}</p>
      </section>
    </div>
  </div>
  <body class="body2">
  <div class="container2">
    <div class="back2">
      <h1>Sensores</h1>
    </div>
    <div class="historial">
      <section class="tarjeta "  *ngFor="let incidencia of historialIncidencias">
        <section class="hora">
          <div>
            <h4>Hora alarma:</h4>
            <p>{{ incidencia.horaAlarma }}</p>
          </div>
          <div>
            <h4>Fecha:</h4>
            <p>{{ incidencia.fecha }}</p>
          </div>
        </section>
        <h4>Evento crítico:</h4>
        <p>{{ incidencia.eventoCritico }}</p>
        <h4>Acciones tomadas:</h4>
        <p>{{ incidencia.accionesTomadas }}</p>
      </section>
    </div>
  </div>
  <div class="container3">
    <!-- Contenido del tercer contenedor -->
  </div>
</body>
</body>
</html>