<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Barra de Navegación</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<div class="row-container">
  <div class="column">
    <div class="Flabel">
      <label for="habitacion">
        <i class="fas fa-exclamation-triangle"></i> <!-- Icono de alarma -->
      </label>
      
    </div>  
    <div>¿Seguro que desea dar de alta y limpiar la habitacion?</div>
    
    <button type="submit">Aceptar</button> 
    <button type="submit">Cancelar</button> 
  </div>
</div>

</body>
</html>
