.app-container{
    height: 100vh;
    background: linear-gradient(to bottom, #ffffff, rgb(219, 227, 230)); 
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    min-height: 100vh; 
    margin-top: 10px;
    overflow: auto;
 
}

.navbar{
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
}

  
.content {
    margin-top: 80px; 
    flex-grow: 1;
    overflow-y: auto; 
    position: relative;
  }
