<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de Registro</title>
  </head>
  <body >
    <div class="container">

      <div class="form">
        <section class="fila0">
          <h1>Registro de Paciente</h1>
          <button (click)="registrar()">Registrar</button>
        </section>

        <section class="fila1">
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre"  (input)="actualizarNombre($event)" [value]="registro.nombres" required placeholder="Nombre"/>
          </div>
          <div class="form-group">
            <label for="apellido">Apellidos:</label>
            <input type="text" id="apellido" name="apellido"  (input)="actualizarApellido($event)" [value]="registro.apellidos" required placeholder="Apellidos"/>
          </div>
          <div class="form-group">
            <label for="edad">Edad:</label>
            <input type="number" id="edad" name="edad" (input)="actualizarEdad($event)" [value]="registro.edad" required placeholder="Edad" />
          </div>
          <div class="form-group">
            <label for="sexo">Sexo:</label>
            <select id="sexo" name="sexo" required  (input)="actualizarSexo($event)">
              <option value="" disabled selected>Sexo</option>
              <option value="M">Mujer</option>
              <option value="H">Hombre</option>
            </select>
          </div>
        </section>
        
        <section class="fila2">
          <div class="form-group alergias">
            <label for="padecimientos">Padecimientos:</label>
            <textarea name="padecimientos" id="padecimientos" cols="30" rows="10" (input)="actualizarPadecimientos($event)" [value]="registro.padecimientos" placeholder="Padeciminetos..." required></textarea>
          </div>
          <div class="form-group">
            <label for="alergias">Alergias:</label>
            <textarea name="alergias" id="alergias" cols="30" rows="10" (input)="actualizarAlergias($event)" [value]="registro.alergias" placeholder="Alergias..." required></textarea>
          </div>
        </section>
        <section class="fila4">
          <div class="form-group alergias">
            <label for="causaIngreso">Causa de ingreso:</label>
            <textarea name="causaIngreso" id="causaIngreso" cols="30" rows="10" (input)="actualizarCausaIngreso($event)" [value]="registro.causa_ingreso" placeholder="Causa de ingreso..." required></textarea>
          </div>
        </section>

        <section class="fila3">
          <div class="form-group">
            <label for="habitacion" >Habitación:</label>
            <select id="habitacion" name="habitacion" required (input)="actualizarHabitacion($event)">
              <option value="Habitacion" disabled selected>Habitacion</option>
              <option value="habitacion1"required *ngFor="let Habitacion of habitaciones" [value]="Habitacion.id_habitacion">{{Habitacion.id_habitacion}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="enfermera">Enfermera:</label>
            <select id="enfermera" name="enfermera" required (input)="actualizarEnfermera($event)">
              <option value="Enfermera" disabled selected>Enfermera</option>
              <option value="enfermera1"required *ngFor="let Enfermera of enfermeras" [value]="Enfermera.matricula">{{Enfermera.nombres}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="especialidad">Especialidad:</label>
            <select id="especialidad" name="especialidad" required (input)="actualizarEspecialidad($event)">
              <option value="Especialidad" disabled selected>Especialidad</option>
              <option value="especialidad1" required *ngFor="let Especialidad of especialidades" [value]="Especialidad.id">{{Especialidad.nombre}}</option>
            </select>
          </div>
          <span  *ngIf="activar" class="error-message">{{mensaje}}</span>
        </section>
      </div>
    </div>
  </body>
</html>
