<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body> 
  <div class="container">
    <div class="fila0">
      <h1>Receta Medica</h1>
      <button>Alta</button>
    </div>
    <div class="form">
      <section class="fila1">
        <hr>
        <h4>Nombre:</h4>
        <p>{{CrearReceta.Nombre}}</p>
        <h4>Fecha:</h4>
        <p>{{CrearReceta.Fecha}}</p>
        <h4>Medicamentos:</h4>
        <p>{{CrearReceta.Medicamentos}}</p>
        <!-- Agregar un textarea para medicamentos -->
        <textarea rows="4" cols="50" placeholder="Ingrese medicamentos aquí"></textarea>
        <h4>Indicaciones adicionales:</h4>
        <p>{{CrearReceta.Indicaciones_adicionales}}</p>
        <!-- Agregar un textarea para indicaciones adicionales -->
        <textarea rows="4" cols="50" placeholder="Ingrese indicaciones adicionales aquí"></textarea>
      </section>
    </div>
  </div>
  <body class="body2">
  <div class="container2">
    <div class="back2">
      <h1>Historial de incidencias</h1>
    </div>
    <div class="historial">
      <section class="tarjeta "  *ngFor="let incidencia of historialIncidencias">
        <section class="hora">
          <div>
            <h4>Hora alarma:</h4>
            <p>{{ incidencia.horaAlarma }}</p>
          </div>
          <div>
            <h4>Fecha:</h4>
            <p>{{ incidencia.fecha }}</p>
          </div>
        </section>
        <h4>Evento crítico:</h4>
        <p>{{ incidencia.eventoCritico }}</p>
        <h4>Acciones tomadas:</h4>
        <p>{{ incidencia.accionesTomadas }}</p>
      </section>
    </div>
  </div>
  <div class="container3">
    <section class="registro">
      <h1>Historial de Recetas</h1>
    </section>
    <div class="historial">
      <section class="tarjeta "  *ngFor="let historial of historialRecetas ">
        <section class="hora">
          <div>
            <h4>Hora alarma:</h4>
            <p>{{ historial.Hora }}</p>
          </div>
          <div>
            <h4>Fecha:</h4>
            <p>{{ historial.fecha }}</p>
          </div>
        </section>
        <h4>Doctor:</h4>
        <p>{{ historial.Doctor }}</p>
        <h4>Medicamentos:</h4>
        <p>{{ historial.Medicamentos }}</p>
        <h4>Indicaciones Adicionales :</h4>
        <p>{{ historial.Indicacionesadicionales }}</p>
      </section>
    </div>
  </div>
</body>
</body>
</html>
