<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <div class="container">
    <div class="fila0">
      <h1>Receta Medica</h1>
      <button (click)="navegarAhistorial()">Guardar</button>
    </div>
    <div class="form">
      <section class="fila1">
        <section class="hora">
          <div>
            <label for="textarea1">Nombre:</label>
            <p>{{informacionPaciente.nombres}}</p>
          </div>
          <div>
            <label for="fecha">Fecha:</label>
            <p>{{fechaActual}}</p>
          </div>
        </section>
        <hr>
        <div class="label-container">
          <label for="medicamentos">Medicamentos:</label>
          <textarea id="medicamentos" rows="4" cols="50" [(ngModel)]="medicamentos"></textarea> 
        </div>
        <div class="label-container">
          <label for="indicaciones">Indicaciones adicionales:</label>
          <textarea id="indicaciones" rows="4" cols="50" [(ngModel)]="indicacionesAdicionales"></textarea> <!-- Usamos ngModel para vincular el valor de indicacionesAdicionales -->
        </div>
      </section>
    </div>
  </div>
  <div class="body2">
    <div class="container2">
      <div class="back2">
        <h1>Habitacion : sensores</h1>
        <button (click)="navegarAhistorial()">Guardar</button>
      </div>
      <div class="historial2">
        <section class="tarjeta" *ngFor="let signos of SignosVitales">
          <section class="hora2">
            <div class="input-group">
              <label for="ritmo">Oxigenacion:</label>
              <input type="number" id="oxigenacion1" placeholder="Valor mínimo" inputmode="numeric" pattern="\d*" [(ngModel)]="oxigenacionMin">
              <input type="number" id="oxigenacion2" placeholder="Valor máximo" inputmode="numeric" pattern="\d*" [(ngModel)]="oxigenacionMax">
            </div>
            <div class="input-group">
              <label for="presion">Frecuencia cardiaca:</label>
              <input type="number" id="frecard1" placeholder="Valor mínimo" inputmode="numeric" pattern="\d*" [(ngModel)]="frecuenciaCardiacaMin">
              <input type="number" id="frecard2" placeholder="Valor máximo" inputmode="numeric" pattern="\d*" [(ngModel)]="frecuenciaCardiacaMax">
            </div>
            <div class="input-group">
              <label for="temperatura">Presion Sistolica:</label>
              <input type="number" id="presionsis1" placeholder="Valor mínimo" inputmode="numeric" pattern="\d*" [(ngModel)]="presionSistolicaMin">
              <input type="number" id="presionsis2" placeholder="Valor máximo" inputmode="numeric" pattern="\d*" [(ngModel)]="presionSistolicaMax">
            </div>
            <div class="input-group">
              <label for="temperatura">Presion Diastolica:</label>
              <input type="number" id="presiondia1" placeholder="Valor mínimo" inputmode="numeric" pattern="\d*" [(ngModel)]="presionDiastolicaMin">
              <input type="number" id="presiondia2" placeholder="Valor máximo" inputmode="numeric" pattern="\d*" [(ngModel)]="presionDiastolicaMax">
            </div>
            <div class="input-group">
              <label for="temperatura">Temperatura:</label>
              <input type="number" id="temperatura1" placeholder="Valor mínimo" inputmode="numeric" pattern="\d*" [(ngModel)]="temperaturaMin">
              <input type="number" id="temperatura2" placeholder="Valor máximo" inputmode="numeric" pattern="\d*" [(ngModel)]="temperaturaMax">
            </div>
          </section>
        </section>
      </div>
    </div>
    <div class="container3">
      <section class="registro">
      </section>
      <div class="historial">
        <section class="tarjeta" >
          <section class="hora">
            <div>
              <label for="sexo">Sexo:</label>
              <p>{{ informacionPaciente.sexo }}</p>
            </div>
            <div>
              <label for="edad">Edad:</label>
              <p>{{ informacionPaciente.edad }}</p>
            </div>
          </section>
          <hr>
          <div class="label-container">
            <label for="padecimientos">Padecimientos:</label>
            <p>{{informacionPaciente.padecimientos}}</p>
          </div>
          <div class="label-container">
            <label for="alergias">Alergias:</label>
            <p>{{informacionPaciente.alergias}}</p>
          </div>
          <div class="label-container">
            <label for="causa">Causa de Ingreso:</label>
            <p>{{informacionPaciente.causa_ingreso}}</p>
          </div>
          <div class="label-container">
            <label for="enfermera">Enfermera Asignada:</label>
            <p>{{informacionPaciente.id_enfermera}}</p>
          </div>
          <div class="label-container">
            <label for="especialidad">Especialidad Asignada:</label>
            <p>{{informacionPaciente.id_especialidad}}</p>
          </div>
        </section>
      </div>
    </div>
  </div>
  <script src="script.js"></script> <!-- Enlace al archivo JS -->
</body>
</html>
